{% extends "base.html" %}

{% block title %}Analyzer - Fakebook{% endblock %}

{% block content %}
<div class="content">
    <form action="/analyze" method="post" enctype="multipart/form-data">
        <input type="submit">
    </form>
    {% if images %}
        <div class="image-container">
            {% for image in images %}
                <div class="card">
                    <img src="{{ image }}" alt="Image">
                    <div class="buttons">
                        <button class="real">Real</button>
                        <button class="fake">Fake</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
