{% extends "base.html" %}

{% block content %}
    <h1>Deepfake check</h1>


         <form action="/" method="post" enctype="multipart/form-data">
              <label for="imageUpload">Upload an image</label><br><br>
        <input type="file" name="file" required>
             <br> <br>
              <h1>Website to search</h1>
                 <input type="text" id="url" name="url" required>
             <br> <br>
        <input type="submit" value="Upload">
               <p id="result">Deepfake check result</p>
    </form>

    <br>
    <br>
    {% if images %}
        <div class="image-container">
            {% for image in images %}
                <div class="card">
                    <img src="{{ image }}" alt="Image">
                    <div class="buttons">
                        <button class="real">Real</button>
                        <button class="fake">Fake</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

{% endblock %}
